/* HEADER */

.header, .footer {
  padding: 12px 24px;
  margin-top: 20px;
  background-color: var(--white);
  border-radius: 80px;
}

body.dark .header, .about-wrapper, .skills-section, .education-item, .contact-item, .footer {
  background-color: var(--dark-theme);
  color: var(--card-text-dark);
  border: 1px solid #FFFFFF0D
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-icon {
  width: 24px;
  height: 24px;
  fill: var(--accent);
}

@media screen and (min-width: 768px) {
  .logo-icon {
    width: 32px;
    height: 32px;
  }
}

/* .mobile-controls{
  display: flex;
  align-items: center;
  gap: 12px;
} */

.custom-dropdown {
  position: relative;
  width: 140px;
  /* font-family: "Inter", sans-serif; */
  user-select: none;
  color: var(--toggle-text-color);
}

.selected-value{
  color: var(--toggle-text-color);
}

.dropdown-toggle {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid var(--toggle-text-color);
  
  border-radius: 8px;
  /* background: #f5f5f5; */
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-toggle svg {
  margin-left: 10px;
  transition: transform 0.3s ease;
  color: var(--toggle-text-color);
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  background: var(--white);
  border: 1px solid var(--light-gray-20);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1000;
  padding: 0;
  margin: 0;
  list-style: none;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-menu li {
  padding: 10px 14px;
  cursor: pointer;
  color: var(--light-gray);
  transition: background 0.2s ease;
}

.dropdown-menu li:hover {
  background: var(--light-gray-20);
}

.dropdown-menu li.active {
  background: var(--accent);
  font-weight: 600;
}

.custom-dropdown.open .dropdown-menu {
  display: block;
}

.custom-dropdown.open .dropdown-toggle svg {
  transform: rotate(180deg);
}


.language-switcher-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  /* border: 1px solid var(--accent); */
  /* box-shadow: 0px 1px 2px 0px var(--colors-effects-shadows-shadow-xs); */
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.language-switcher-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  background-image: url("../assets/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: right 13px center;
}

.language-switcher-wrapper select:focus {
  outline: none;
}

.switcher {
    width: 44px;
    height: 18px;
    padding: 4px;
    background: linear-gradient(141.22deg, var(--accent-20) 9.4%, var(--accent) 90.6%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    cursor: pointer;
  }
  
  .switch-icon {
    display: flex;
    align-items: center;
  }
  
  .header__icon-moon, .header__icon-sun {
    width: 8px;
    height: 8px;
  }
  
  .switcher__ball {
    transition-duration: 500ms;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 28px;
    top: 2px;
    right: 2.5px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-image: url('../assets/icons/btn.svg');
    background-size: contain;
    transform: translateY(-3.5px) translateX(-30px) rotate(-180deg);
  }

  body.dark .switcher__ball {
    width: 17.5px;
    height: 17.5px;
    transform: translateY(0) translateX(1px) rotate(0deg);
  }
  
/* .mobile-menu {
  display: none;
} */
@media (max-width: 1024px) {
  .header-nav {
    display: none;
  }

  /* .mobile-menu {
    display: block;
  } */
}

@media (min-width: 1025px) {
  .header-nav {
    display: flex;
  }

  /* .mobile-menu {
    display: none;
  } */

}
.mobile-modal {
  display: none;
  position: fixed;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0.8); */
  z-index: 99;
  /* justify-content: center;
  align-items: center; */
}

.mobile-modal.open {
  display: flex;
}

.mobile-modal-content {
  display: flex;
  flex-direction: column-reverse;
  gap: 86px;
  align-items: center;
  justify-content: flex-end;
  /* background: var(--background); */
  background: var(--toggle-main-bg-color);
  padding: 48px;
  /* border-radius: 12px; */
  width: 100%;
  /* width: 300px; */
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .header-nav .nav-list {
    display: none;
  }

  .burger-btn {
    display: block;
  }

  .mobile-modal .nav-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}

@media (min-width: 1025px) {
  .mobile-modal {
    display: none !important;
  }

  .header-nav .nav-list {
    display: flex;
    gap: 1rem;
  }
}

.link{
  font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-transform: uppercase;
}

.burger-menu {
  background-color: transparent;
  border-radius: 8px;
  border: none;
}

@media screen and (min-width: 1280px) {
  .burger-menu {
    display: none;
  }
}

.burger-icon {
  width: 22px;
  height: 22px;
  stroke: var(--toggle-text-color);
}

@media screen and (min-width: 768px) {
  .burger-icon {
    width: 24px;
    height: 24px;
  }
}

.nav-list {
  display: none;
}

@media screen and (min-width: 1280px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}

/* HERO */

.hero {
  padding-top: 64px;
  /* min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;  */
}

.hero-container {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.hero-first-wrapper {
  display: flex;
  gap: 24px;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero-title-wrapper,
.skills-title-wrapper,
.education-title-wrapper,
.projects-title-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.line {
  display: block;
  width: 100px;
  height: 1px;
  background-color: var(--accent);
}

.links-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-links-list {
  display: flex;
  gap: 20px;
}

.hero-icon {
  width: 16px;
  height: 16px;
  /* fill: var(--light-gray-60); */
  fill:var(--toggle-text-color);
}

.hero-icon:hover,
.hero-icon:focus {
  fill: var(--accent);
}

.thumb {
  position: relative;
  display: flex;
  align-items: end;
}

.triangle {
  background-color: var(--accent);
  width: 128px;
  height: 140px;
  /* top: 39px;
left: 192px; */
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
}

.hero-img {
  position: absolute;
  width: 160px;
  left: -16px;
}


.hero-second-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.hero-subtitle,
.skills-subtitle,
.education-title {
  font-size: 32px;
  font-weight: 700;
  font-style: normal;
  line-height: 123.6%;

}

.hero-subtitle {
  color: var(--accent);
}

.hero-description,
.about-description, .education-item-subtitle{
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 28px;
  /* color: var(--light-gray-60); */
  color: var(--toggle-text-color);
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px 4px 20px;
  gap: 14px;
  background-color: var(--accent);
  border-radius: 56px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  width: 147px;
}

.circle {
  background-color: var(--light-gray);
  width: 36px;
  height: 36px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle:hover,
.circle:focus {
  background-color: var(--white);
}

.btn-icon {
  width: 20px;
  height: 20px;
  fill: var(--white);
  transform: rotate(180deg);
  transition: transform 0.3s ease, fill 0.3s ease;
}

.btn-icon:hover,
.btn-icon:focus {
  fill: var(--accent);
  transform: rotate(225deg);
}

/* ABOUT */

.about {
  padding-top: 124px;
  padding-bottom: 64px;
}

.about-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.thumb-about {
  position: relative;
  margin-top: -38px;
  margin-left: auto;
  margin-right: auto;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: var(--toggle-theme-bg-color);
  margin-top: -88px;
  padding: 72px 20px 20px 20px;
  border-radius: 20px;
}

/* body.dark .about .about-container .about-wrapper {
  background-color: var(--dark-theme);
} */

.about-title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--accent);
}

/* SKILLS */

.skills-section {
  padding-top: 64px;
  padding-bottom: 64px;
  width: 100%;
  background-color: var(--toggle-theme-bg-color);
}

.skills-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  /* padding-top: 64px;
  padding-bottom: 64px; */
  /* background-color: var(--white); */

}

/* .skills-subtitle.black {
  color: var(--light-gray);
} */

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 14px;
}

.skill-item {
  padding: 14px;
  font-size: 16px;
  background-color: var(--accent);
  border-radius: 20px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.5s ease forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* EDUCATION */

.education-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.education-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.education-title.black {
  color: var(--black);
}

.education-description, .project-description {
  font-size: 14px;
  line-height: 20px;
  color: var(--light-gray-60);
}



.education-list, .contact-list {
  display: flex;
  flex-direction: column;
}

.education-list > *:not(:last-child), .contact-list > *:not(:last-child) {
  border-bottom: 1px solid var(--light-gray-20);
}

.education-list > *:first-child, .contact-list > *:first-child {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.education-list > *:last-child, .contact-list > *:last-child {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.education-item, .contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 32px 24px;
  height: 200px;
  /* background-color: var(--white); */
  background-color: var(--toggle-theme-bg-color);
  text-align: center;
}

.education-item-title, .project-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.education-item-subtitle {
  font-size: 16px;
  line-height: 24px;
}

.education-item-date, .project-item-date {
  padding: 4px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  border-radius: 6px;
  background-color: var(--accent-20);
  color: var(--accent);
  margin-left: auto;
  margin-right: auto;
}

/* PROJECTS */

.projects-title-wrapper {
  margin-bottom: 24px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.project-item-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 16px;
  order: 2;
  padding: 12px 12px 24px 12px;
}

.project-item-title{
    text-align: center;
    color: var(--dark-theme);
}

.project-item-thumb {
  display: flex;
  order: 1;

}

.project-img {
    height: 160px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.parallax-stack {
  position: relative;
  /* height: calc(100vh * 4); */
  height: calc(100vh * (4 + 1));
}

.gradient{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(46, 47, 66, 0.2), rgba(46, 47, 66, 0.4));
}

.stack-item {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s ease-in-out;
  
}

.stack-item.visible {
  opacity: 1;
  z-index: 10;
}

.stack-item img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.stack-text {
  display: flex;
  flex-direction: column;
  gap:8px;
  z-index: 2;
  transform: translateY(40px);
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
  font-size: 16px;
  border-radius: 12px;
}


.stack-item.visible .stack-text {
  opacity: 1;
  transform: translateY(0);
}

.polaroid{
  width: 85%;
  height: 30%;
  border: 12px solid var(--white);
  z-index: 20;
  opacity: 0.9;
  border-top-left-radius: 12px;
    border-top-right-radius: 12px;

}

.polaroid-body{
  width: 85%;
  height: 54%;
  padding: 14px;
  z-index: 20;
  background-color: var(--white);
  opacity: 0.9;

}

/* CONTACTS */

.contacts-section{
  margin-top: 20vh;
}

.contacts-img{
  position: absolute;
  width: 160px;
  top: -8px;
  left: -16px;
}

.form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-group{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.styled-input, .styled-textarea{
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  background-color: var(--input-bg);
  color: var(--black);
  /* font-size: 16px; */
}

.error-message{
  height: 12px;
  color: red;
  font-size: 10px;
}

.connect-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-item {
  min-height: 220px;
  align-items: unset;
}


.circle-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
  background-color: var(--accent);
  border-radius: 50%;
}


.circle-contact:hover .btn-icon,
.circle-contact:focus .btn-icon{
  fill: var(--white);
}

.circle-contact:hover,
.circle-contact:focus{
  background-color: var(--light-gray);
}

/* FOOTER */

.footer-container{
  padding-top: 64px;
  padding-bottom: 24px;
}

.footer {
  /* padding: 64px 24px 24px 24px; */
    margin-top: 0;
  }